@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: black;

}

.background {
    background-color: darkblue;
    background-image: url(https://images.pexels.com/photos/7374/startup-photos.jpg?cs=srgb&dl=working-woman-technology-computer-7374.jpg&fm=jpg);
    background-position: center;    
    padding-left: 300px;
    padding-right: 300px;
}

.form {
    background-color: grey;
    opacity: 0.9;
    text-align: left;
    padding: 70px;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
}

